<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <h4>Oppps ... Page Not Found </h4> 
        <p>
            Click <a href="/">HERE </a> to go to the home page
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>