<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
     
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Blog Ninja</h2>

        <p>
        This Company is about creating lots of money <br>
        because as a user, you can be able to take a huge loan and later <br>
        pay it back anytime of your comfort zone.
    </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>