<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>
                A net Ninja Site
            </p>
        </div>
        <a href="/">Home Page</a> <br>
        <a href="/about">About Page</a> <br>
        <a href="/other">Other Page</a> <br> 
    </nav>

    <div class="other content">
        <h1>Other</h1> 
        <p>
            This Company is about creating lots of money <br>
            because as a user, you can be able to take a huge loan and later <br>
            pay it back anytime of your comfort zone.
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>